@charset "utf-8";
/* CSS Document */

* {

  margin: 0;
  padding: 0;

}


body {
	margin:0;
	padding:0;
	border:0;
}
#mainheadline {
	position:absolute;
	left:19px;
	top:105px;
	width:677px;
	height:27px;
	z-index:10;
	overflow: visible;
	visibility: visible;
	}
#subhead {
	position:absolute;
	left:19px;
	top:130px;
	width:690px;
	height:20px;
	z-index:10;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #4a4b4b;
	overflow: visible;
	visibility: visible;
	line-height: normal;
}
#maincontent1mp {
	position:absolute;
	top:162px;
	width:225px;
	height:370px;
	z-index:10;
	left: 19px;
	overflow: visible;
	float: left;
	clear: none;
	margin: 0px;
	visibility: visible;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	color: #4a4b4b;
}
#maincontent2mp {
	position:absolute;
	left:218px;
	top:162px;
	width:225px;
	height:314px;
	z-index:10;
	color: #4a4b4b;
	overflow: visible;
	font: 12px/20px Arial, Helvetica, sans-serif;
}
#maincontent3mp {
	position:absolute;
	left:475px;
	top:162px;
	width:225px;
	height:298px;
	z-index:10;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	color: #4a4b4b;
}
#maincontent4mp {
	position:absolute;
	left:775px;
	top:163px;
	width:230px;
	height:370px;
	z-index:10;
	background-image: url(../globalImages/rule4.png);
	background-repeat: no-repeat;
	background-position: left top;
}

#maincontent6mp {
	width: 225px;
	color: #4a4b4b;
	font: 12px/15px Arial, Helvetica, sans-serif;
	float: left;
	margin-top: 160px;
	margin-left: 18px;
	padding-right: 20px;
}
#maincontent7mp {
	top: 160px;
	width: 225px;
	color: #4a4b4b;
	font: 12px/15px Arial, Helvetica, sans-serif;
	float: left;
	margin-top: 160px;
	padding-right: 10px;
	padding-left: 10px;
}

#maincontent5mp {
	top: 160px;
	width: 225px;
	left: 19px;
	float: left;
	color: #4a4b4b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	margin-top: 160px;
	padding-left: 20px;
}
#contentcopy {
	position:absolute;
	left:34px;
	top:104px;
	width:184px;
	height:66px;
	z-index:21;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	color: #4a4b4b;
	overflow: visible;
	visibility: visible;
}
#contentcopy2 {
	position: absolute;
	left: 36px;
	top: 179px;
	width: 161px;
	height: 99px;
	z-index: 22;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3187B0;
	font-style: normal;
	font-weight: bold;
	overflow: visible;
	line-height: 20px;
}
#contentcopy2 a:link {
	color: #3187B0;
	text-decoration: underline;
}
#contentcopy2 a:hover {
	color: #4a4b4b;
	text-decoration: underline;

}
#contentcopy2   a:visited {
	color: #3187b0;
	text-decoration: underline;

}
#contentcopy2   a:active {
	color: #3187b0;
	text-decoration: underline;

}

#contentcopy2 li   {
	padding-left: 10px;
	list-style-type: none;
	background: transparent url(../globalImages/yellowbox.gif) no-repeat -1px 7px;
}
#contentcopy3 {
	position:absolute;
	left:34px;
	top:110px;
	width:179px;
	height:140px;
	z-index:22;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3187B0;
	font-style: normal;
	font-weight: bold;
	overflow: visible;
	line-height: 15px;
	visibility: visible;
}

#contentcopy3 a:link {
	color: #3187B0;
	text-decoration: underline;
}
#contentcopy3 a:hover {
	color: #4a4b4b;
	text-decoration: underline;

}
#contentcopy3 a:visited {
	color: #3187b0;
	text-decoration: underline;

}
#contentcopy3 a:active {
	color: #3187b0;
	text-decoration: underline;
}


#bottomcontainer {
	position: absolute;
	left: 0px;
	top: 528px;
	width: 997px;
	z-index: 10;
	padding-top: 16px;
	padding-left: 18px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #4a4b4b;
	background-color: #f1ede2;
	visibility: visible;
	float: left;
	right: 0px;
	bottom: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 30%;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #066293;
	font-weight: bold;
	font-style: normal;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 16px;
	font-weight: bold;
	color: #4a4b4b;
	letter-spacing: normal;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #066293;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: bold;
	color: #4a4b4b;
	padding: 0px;
}
h5 {
	color: #066293;
	font: bold 12px Arial, Helvetica, sans-serif;
	visibility: visible;
}
h5 a:link{
	color: #066293;

}
h5 a:visited {
	text-decoration: none;
	color: #066293;
}
h5 a:hover {
	text-decoration: underline;
	color: #358d3a;
}
h5 a:active {
	text-decoration: none;
	color: #066293;
}


#image {
	position:absolute;
	left:608px;
	top:331px;
	width:141px;
	height:165px;
	z-index:30;
	visibility: visible;
}

#image3 {
	position:absolute;
	left:629px;
	top:335px;
	width:141px;
	height:165px;
	z-index:21;
}
#adcopy {
	position:absolute;
	left:507px;
	top:365px;
	width:131px;
	height:119px;
	z-index:40;
	color: #7d6628;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: bold;
	text-align: right;
}
#adcopy a {
	color: #7d6628;
}
#adcopy2{
	position:absolute;
	left:487px;
	top:382px;
	width:116px;
	height:85px;
	z-index:23;
	color: #7d6628;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: bold;
	text-align: right;
}

#adcopy2 a {
	color: #7d6628;

}
#adcopy3 {
	position:absolute;
	left:488px;
	top:418px;
	width:131px;
	height:47px;
	z-index:23;
	color: #7d6628;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: bold;
	text-align: right;
}
#adcopy3 a {
	color: #7d6628;
}


.pointer {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
	text-align: left;
}

.dropdownbox {
	width: 161px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-position: top;
	top: 0px;
}

#askaquestion {
	position:absolute;
	left:34px;
	top:1px;
	width:142px;
	height:18px;
	z-index:20;
	margin: 0px;
	font-style: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: visible;
	float: left;
	padding-bottom: 1px;
	background: no-repeat 147px;
	
}
#search {
	position:absolute;
	left:34px;
	top:35px;
	width:143px;
	height:18px;
	z-index:11;
	margin: 0px;
	font-style: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: visible;
	float: left;
	padding-bottom: 1px;
	background: no-repeat 147px;
}
#iwantto {
	position:absolute;
	left:14px;
	top:241px;
	width:169px;
	height:29px;
	z-index:20;
}

.jumpmenu {
	width: 144.2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	position: absolute;
	left: 33.3px;
	z-index: 20;
	top: 68px;
}
.btn {
	background-image: url(../globalImages/pointright.gif);
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	position: absolute;
	top: 68px;
	visibility: visible;
	overflow: visible;
	left: 179.6px;
	background-position: center;
	z-index: 20;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.btn2 {
	background-image: url(../globalImages/pointright.gif);
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	position: absolute;
	top: -.5px;
	visibility: visible;
	overflow: visible;
	left: 145px;
	background-position: center;
	z-index: 20;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;

}
.btn3 {
	background-image: url(../globalImages/pointright.gif);
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	position: absolute;
	top: -.5px;
	visibility: visible;
	overflow: visible;
	left: 145px;
	background-position: center;
	z-index: 12;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.textbox {
	margin: 0;
	top: 0px;
	background-position: top;
	width: 140px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
}
#needhelp {
	position:absolute;
	left:18px;
	top:483px;
	width:329px;
	height:21px;
	z-index:30;
	color: #066293;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	visibility: visible;
}

#needhelp3 {
	left: 271px;
	top: 492px;
	width: 329px;
	color: #066293;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	float: right;
	margin-left: 600px;
	margin-top: 500px;
}
#needhelp2 {
	position:absolute;
	left:474px;
	top:495px;
	width:235px;
	height:21px;
	z-index:22;
	color: #066293;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	visibility: visible;
}
#toprightad  {
	position:absolute;
	left:818px;
	top:3px;
	width:130px;
	height:59px;
	z-index:40;
	text-decoration: underline;
	color: #066293;
}
#toprightadcopy {
	position:absolute;
	left:617px;
	top:16px;
	width:199px;
	height:38px;
	z-index:40;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #066293;
	text-align: right;
	visibility: visible;
	
	overflow: visible;
}
#toprightadcopy a:link {
	text-decoration: none;
	color: #066293;
}
#toprightadcopy a:visited {
	text-decoration: none;
	color: #066293;
}
#toprightadcopy a:hover {
	text-decoration: underline;
	color: #066293;
}
#toprightadcopy a:active {
	text-decoration: none;
	color: #066293;
}

.subhead18green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	color: #358d3a;
}
.subhead1215greenbold {
	font: bold normal 12px/15px Arial, Helvetica, sans-serif;
	color: #358d3a;
}


.arial1220boldblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #066293;
	line-height: 20px;
}

.arial1220boldgreeen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #358d3a;
	line-height: 20px;
}
.subheadblue1215 {
	font: bold 12px/15px Arial, Helvetica, sans-serif;
	color: #066293;
}

.arial1112lightblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	color: #3187B0;

}

.arial911 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 10px;
	font-weight: normal;
	color: #4b4a4a;
	font-style: normal;
	text-align: left;
	word-spacing: -1pt;

}

#skip a, #skip a:hover, #skip a:visited 
{
	position:absolute;
	left:0px;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
	z-index: 1;
} 

#skip a:active, #skip a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
} 

a:link {
	text-decoration: none;
	color: #4a4b4b;
}
a:visited {
	text-decoration: none;
	color: #4a4b4b;
}
a:hover {
	text-decoration: underline;
	color: #358d3a;
}
a:active {
	text-decoration: none;
	color: #4a4b4b;
}
.content {
	font: normal 12px/15px Arial, Helvetica, sans-serif;
	color: #4a4b4b;
}
.content2 {
	font: 12px/22px Arial, Helvetica, sans-serif;
	color: #4a4b4b;
}

#image2 {
	position:absolute;
	left:604px;
	top:364px;
	width:141px;
	height:165px;
	z-index:21;
}
