@charset "utf-8";
/* CSS Document */

* {

  margin: 0;
  padding: 0;

}


body {
	margin:0;
	padding:0;
	border:0;
}
#mainheadline {
	position:absolute;
	left:18px;
	top:104px;
	width:570px;
	height:27px;
	z-index:28;
	overflow: visible;
	visibility: visible;
	}
#subhead {
	position:absolute;
	left:18px;
	top:131px;
	width:690px;
	height:20px;
	z-index:10;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color: #4a4b4b;
	overflow: hidden;
	visibility: visible;
	line-height: normal;
}
#bannerlinks {
	position:absolute;
	width:350px;
	height:21px;
	z-index:32;
	left: 622px;
	top: 31px;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #066293;
	text-decoration: none;
	text-align: right;
}
#bannerlinks  a:link {
	color: #066293;
	text-decoration: none;
}
#bannerlinks  a:visited {
	color: #066293;
	text-decoration: none;
}
#bannerlinks  a:hover {
	color: #066293;
	text-decoration: underline;
}
#bannerlinks  a:active {
	text-decoration: none;
	color: #066293;
}
#promomainheadline {
	position:absolute;
	left:41px;
	top:111px;
	width:515px;
	height:27px;
	z-index:28;
	overflow: visible;
	visibility: visible;
}

#promocontent {
	position:absolute;
	left:42px;
	top:192px;
	width:489px;
	height:274px;
	z-index:31;
	color: #4a4b4b;
	padding: 0px;
	overflow: visible;
	visibility: visible;
	font: 12px/15px Arial, Helvetica, sans-serif;
}
#promocontent li {
	padding-left: 10px;
	line-height: 18px;
	font-size: 12px;
	list-style: none;
	background: transparent url(../untitled%20folder/globalImages/greenbox.gif) no-repeat -1px 3px;
}
#promocontentcopy {
	position:absolute;
	width:165px;
	height:115px;
	z-index:33;
	left: 570px;
	top: 362px;
	font: 12px/15px Arial, Helvetica, sans-serif;
	color: #4a4b4b;
	visibility: visible;
}

#promocontentcopy li {
	padding-left: 10px;
	line-height: 15px;
	font-size: 12px;
	list-style: none;
	background: transparent url(../untitled%20folder/globalImages/lightbluebox.gif) no-repeat -1px -1px;
}

#promocontentcopy2 {
	position:absolute;
	width:165px;
	height:115px;
	z-index:33;
	left: 552px;
	top: 141px;
	font: 12px/15px Arial, Helvetica, sans-serif;
	color: #4a4b4b;
	visibility: visible;
}

#promocontentcopy2 li {
	padding-left: 10px;
	list-style: none;
	background: transparent url(../untitled%20folder/globalImages/lightbluebox.gif) no-repeat -1px -1px;
}

#image2 {
	position:absolute;
	left:570px;
	top:114px;
	width:164px;
	height:269px;
	z-index:21;
	visibility: visible;
	font: normal 12px/15px Arial, Helvetica, sans-serif;
	color: #4a4b4b;
}

#image3 {
	position:absolute;
	left:548px;
	top:237px;
	width:164px;
	height:207px;
	z-index:21;
	visibility: visible;
	list-style: url(../untitled%20folder/html_files/none) none;
}
#copybox {
	position:absolute;
	width:165px;
	height:312px;
	z-index:41;
	left: 570px;
	top: 312px;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #4a4b4b;
	overflow: visible;
	padding-top: 10px;
}

#copybox li {
	list-style: url(../untitled%20folder/html_files/none) none;
	background: transparent url(../untitled%20folder/globalImages/yellowbox.gif) no-repeat 0px 4px;
	padding-left: 10px;
	margin-left: 0px;
}
#rightbox {
	position:absolute;
	width:166px;
	height:166px;
	z-index:42;
	left: 809px;
	top: 247px;
}
#maincontent {
	position:absolute;
	left:176px;
	top:140px;
	width:571px;
	height:645px;
	z-index:31;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	color: #4a4b4b;
	font-weight: normal;
	font-style: normal;
	padding: 0px;
	overflow: visible;
	}

#maincontent li   {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: -1px 3px;
	padding-left: 10px;
	line-height: 22px;
	list-style-type: none;
	font-size: 12px;
	background-image: url(../untitled%20folder/globalImages/greenbox.gif);
	font-style: normal;
	font-weight: normal;
}
#maincontent2mp {
	position:absolute;
	left:218px;
	top:157px;
	width:225px;
	height:314px;
	z-index:10;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	color: #4a4b4b;
	overflow: visible;
}
#maincontent3mp {
	position:absolute;
	left:475px;
	top:158px;
	width:225px;
	height:132px;
	z-index:10;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	color: #4a4b4b;
}
#maincontent2 {
	position:absolute;
	left:775px;
	top:142px;
	width:230px;
	height:370px;
	z-index:30;
	background-image: url(../untitled%20folder/globalImages/rule4.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 10px;
}
#contentcopy {
	position:absolute;
	left:33px;
	top:108px;
	width:163px;
	height:150px;
	z-index:21;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	color: #4a4b4b;
	overflow: visible;
	visibility: visible;
}
.copy1215black {
	font: normal 12px/15px Arial, Helvetica, sans-serif;
	color: #4a4b4b;
}
#contentcopy2 {
	position:absolute;
	left:808px;
	top:383px;
	width:168px;
	height:120px;
	z-index:22;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3187B0;
	font-style: normal;
	font-weight: bold;
	overflow: visible;
	line-height: 20px;
	visibility: visible;
}

#contentcopy2    a {
	color: #3187B0;
	text-decoration: underline;
}
#contentcopy2  a:hover {
	color: #4a4b4b;
	text-decoration: underline;
	}
	

#contentcopy3 {
	position:absolute;
	left:34px;
	top:110px;
	width:168px;
	height:200px;
	z-index:22;
	color: #3187B0;
	overflow: visible;
	font: bold 12px/15px Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

#contentcopy3    a {
	color: #3187B0;
	text-decoration: underline;
}
#contentcopy3  a:hover {
	color: #4a4b4b;
	text-decoration: underline;
}
#contentcopy3 li   {
	padding-left: 10px;
	list-style-type: none;
	font-style: normal;
	background: transparent url(../untitled%20folder/globalImages/yellowbox.gif) no-repeat -1px 4px;
}
#contentcopy4 {
	position:absolute;
	width:200px;
	height:115px;
	z-index:41;
	left: 808px;
	top: 375px;
	font: bold 12px/15px Arial, Helvetica, sans-serif;
	color: #3187b0;
	text-decoration: underline;
}

#contentcopy4    a {
	color: #3187B0;
	text-decoration: underline;
}
#contentcopy4  a:hover {
	color: #4a4b4b;
	text-decoration: underline;
}
#contentcopy4 li   {
	padding-left: 10px;
	list-style-type: none;
	font-style: normal;
	background: transparent url(../untitled%20folder/globalImages/yellowbox.gif) no-repeat -1px 4px;
}
#leftcopybox {
	position:absolute;
	width:148px;
	height:131px;
	z-index:1;
	left: 20px;
	top: 306px;
	font: 12px/15px Arial, Helvetica, sans-serif;
	color: #4a4b4b;
}

.dropdownbox {
	width: 161px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-position: top;
	top: 0px;
}

#askaquestion {
	position:absolute;
	left:21px;
	top:1px;
	width:169px;
	height:18px;
	z-index:20;
	margin: 0px;
	font-style: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: visible;
	float: left;
	background-position: 147px;
	padding-bottom: 1px;
	background-image: url(../untitled%20folder/globalImages/pointright.gif);
	background-repeat: no-repeat;
	
}
#search {
	position:absolute;
	left:23px;
	top:35px;
	width:169px;
	height:18px;
	z-index:20;
	margin: 0px;
	font-style: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: visible;
	float: left;
	background-position: 147px;
	padding-bottom: 1px;
	background-image: url(../untitled%20folder/globalImages/pointright.gif);
	background-repeat: no-repeat;
}
#iwantto {
	position:absolute;
	left:14px;
	top:241px;
	width:169px;
	height:29px;
	z-index:20;
}

.jumpmenu {
	width: 144px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	position: absolute;
	left: 24px;
	z-index: 20;
	top: 68px;
}
.btn {
	background-image: url(../untitled%20folder/globalImages/pointright.gif);
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	position: absolute;
	top: 68px;
	visibility: visible;
	overflow: visible;
	left: 167.95px;
	background-position: center;
	z-index: 20;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}


.textbox {
	margin: 0;
	top: 0px;
	background-position: top;
	width: 140px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
}


#leftcontainer {
	position:absolute;
	top:136px;
	width:169px;
	height:182px;
	z-index:5;
	left: 19px;
	overflow: visible;
	float: left;
	clear: none;
	margin: 0px;
	visibility: visible;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #066293;
	line-height: 20px;
	font-weight: bold;
	font-style: normal;
}

.leftcollinks{
	color: #066293;
	text-decoration: none;
}

.leftcollinks a:link {
	color: #066293;
	text-decoration: none;
}

.leftcollinks a:visited {
	color: #066293;
	text-decoration: none;
}
.leftcollinks a:hover {
	color: #358d3a;
	text-decoration: underline;
}
#toplinks {
	position:absolute;
	left:581px;
	top:28px;
	width:389px;
	height:15px;
	z-index:40;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #006aa0;
	font-size: 11px;
	font-style: normal;
	letter-spacing: 0.04em;
	text-align: right;
	overflow: visible;
	visibility: visible;
}
#toplinks a {
	color: #006aa0;
}
#imagelefttop {
	position:absolute;
	left:18px;
	top:141px;
	width:164px;
	height:207px;
	z-index:21;
}
#needhelp  a:link {
	color: #066293;
	text-decoration: none;
}
#needhelp  a:visited {
	color: #066293;
	text-decoration: none;
}
#needhelp  a:hover {
	color: #3187B0;
	text-decoration: underline;
}
#needhelp  a:active {
	text-decoration: none;
	color: #066293;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #066293;
	font-weight: bold;
	font-style: normal;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 30px;
	font-weight: bold;
	color: #066293;
	letter-spacing: normal;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #066293;
}

h3 a:link{
	color: #066293;

}
h3 a:visited {
	text-decoration: none;
	color: #066293;
}
h3 a:hover {
	text-decoration: underline;
	color: #358d3a;
}
h3 a:active {
	text-decoration: none;
	color: #066293;
}

h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: bold;
	color: #4a4b4b;
	padding: 0px;
}
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #066293;
	line-height: 19px;
}
#cse-search-results {
	font: 12px/15px Arial, Helvetica, sans-serif;
	color: #4a4b4b;
	overflow: visible;
	position: absolute;
	visibility: visible;
	z-index: 10;
	margin-top: 100px;
	margin-left: 18px;
	margin-right: 675px;
}

#image {
	position:absolute;
	left:18px;
	top:330px;
	width:164px;
	height:207px;
	z-index:21;
}
#adcopy {
	position:absolute;
	left:461px;
	top:352px;
	width:131px;
	height:65px;
	z-index:23;
	color: #7d6628;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: bold;
	text-align: left;
}
#adcopy a {
	color: #7d6628;
}
#adcopy2 {
	position:absolute;
	left:18px;
	top:286px;
	width:150px;
	height:64px;
	z-index:23;
	color: #7d6628;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 15px;
	font-weight: bold;
	text-align: left;
	overflow: visible;
	visibility: visible;
}
#adcopy2 a {
	color: #7d6628;
	text-align: left;
}



.pointer {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	vertical-align: middle;
	text-align: left;
}

.dropdownbox {
	width: 161px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	background-position: top;
	top: 0px;
}

#askaquestion {
	position:absolute;
	left:34px;
	top:1px;
	width:142px;
	height:18px;
	z-index:20;
	margin: 0px;
	font-style: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: visible;
	float: left;
	padding-bottom: 1px;
	background: no-repeat 147px;
	
}
#search {
	position:absolute;
	left:34px;
	top:35px;
	width:143px;
	height:18px;
	z-index:11;
	margin: 0px;
	font-style: normal;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	overflow: visible;
	float: left;
	padding-bottom: 1px;
	background: no-repeat 147px;
}
#iwantto {
	position:absolute;
	left:14px;
	top:241px;
	width:169px;
	height:29px;
	z-index:20;
}

.jumpmenu {
	width: 144.2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	position: absolute;
	left: 34px;
	z-index: 20;
	top: 68px;
}
.btn {
	background-image: url(../untitled%20folder/globalImages/pointright.gif);
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	position: absolute;
	top: 68px;
	visibility: visible;
	overflow: visible;
	left: 179.6px;
	background-position: center;
	z-index: 20;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.btn2 {
	background-image: url(../untitled%20folder/globalImages/pointright.gif);
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	position: absolute;
	top: -.5px;
	visibility: visible;
	overflow: visible;
	left: 145px;
	background-position: center;
	z-index: 20;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;

}
.btn3 {
	background-image: url(../untitled%20folder/globalImages/pointright.gif);
	background-repeat: no-repeat;
	height: 19px;
	width: 19px;
	position: absolute;
	top: -.5px;
	visibility: visible;
	overflow: visible;
	left: 145px;
	background-position: center;
	z-index: 12;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.btn4 {
	color: #066293;
	font: bold 12px Arial, Helvetica, sans-serif;
	background: #ffffff;
	border: 1px solid #5da3c1;
}
.textbox {
	margin: 0;
	top: 0px;
	background-position: top;
	width: 140px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
}

#toprightad {
	position:absolute;
	left:818px;
	top:3px;
	width:130px;
	height:59px;
	z-index:10;
}
#toprightadcopy {
	position:absolute;
	left:648px;
	top:16px;
	width:177px;
	height:38px;
	z-index:20;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #066293;
	text-align: right;
	visibility: visible;
}
.subhead1619boldblue {
	font: bold 16px/19px Arial, Helvetica, sans-serif;
	color: #066293;
}
.arial1013black {
	font: normal 10px/11px Arial, Helvetica, sans-serif;
	color: #4a4b4b;
}



.subhead18green {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	color: #358d3a;
}
.subhead1215green {
	font: bold 12px/15px Arial, Helvetica, sans-serif;
	color: #358d3a;
}
.arial1220boldblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #066293;
	line-height: 20px;
}

.arial1220boldgreeen {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #358d3a;
	line-height: 20px;
}
.arial1112lightblue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	font-weight: bold;
	color: #3187B0;

}
a:link {
	text-decoration: none;
	color: #4a4b4b;
}
a:visited {
	text-decoration: none;
	color: #4a4b4b;
}
a:hover {
	text-decoration: underline;
	color: #358d3a;
}
a:active {
	text-decoration: none;
	color: #4a4b4b;
}


#skip a, #skip a:hover, #skip a:visited 
{
	position:absolute;
	left:0px;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
	z-index: 1;
} 

#skip a:active, #skip a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
} 
.rule {
	color: #CCC;
}
.quotes {
	font: 12px/16px Arial, Helvetica, sans-serif;
	color: #3187b0;
}
#table {
	position:absolute;
	top:44px;
	width:424px;
	height:140px;
	z-index:40;
	float: left;
	visibility: visible;
	left: 0px;
	overflow: visible;
	vertical-align: middle;
	border: 1px solid #bfc0bb;
}


.tr  {
	border: 1px solid #bfc0bb;
	background: #F0FAFF;
	vertical-align: middle;
	padding: 3px;
	overflow: visible;
	visibility: visible;
	z-index: 30;
}
.td   {
	padding: 3px;
	border: 1px solid #bfc0bb;
}
